@font-face {
  font-family: Fear of Punk;
  src: url("/icons_and_fonts/FearOfAPunkPlanet-Zp1J.ttf");
}

//FONT FAMILY
$font-text: "Archivo";
$font-heading: "Archivo Black";

//TYPESCALE
$font-smallest: 1.4rem;
$font-small: 1.6rem;
$font-medium: 2rem;
$font-big: 6rem;
$font-biggest: 7.5rem;

//COLORS
$color-accent_red: #ff002b;
$color-accent_red-darker: rgb(192, 0, 33);
$color-accent-red-darkest: #800016;
$color-accent_blue: #657cad;
$color-accent_blue-darker: #344360;
$color-blue-dark: #151b26;
$color-grey-light: #b3a5ac;
$color-grey-dark: #121011;
