@import "variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media (max-width: 26.6em) {
    font-size: 50%;
  }
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

body {
  font-family: $font-text, sans-serif;
  font-size: $font-medium;

  background: $color-blue-dark;

  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;

  position: relative;
}

.hidden {
  display: none;
}

.image img {
  margin: 0 auto;
  aspect-ratio: 2/3;
}

// .btn-up {
//   border: none;
//   background: transparent;
//   cursor: pointer;
//   position: fixed;
//   bottom: 10%;
//   right: 5%;
//   z-index: 12;
//   transition: all 0.2s;

//   @media (max-width: 53.7em) {
//     right: 2%;
//   }
//   @media (max-width: 26.6em) {
//     right: 4%;
//   }

//   & i {
//     color: #fff;
//     font-size: $font-big;

//     @media (max-width: 53.7em) {
//       font-size: 4rem;
//     }
//   }
// }
