@import "../../css/_variables";

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.closeBtn {
  position: absolute;
  top: 2rem;
  right: 5rem;
  z-index: 12;
  transition: all 0.5s;
  font-size: 4.2rem;
  fill: #fff;

  @media (max-width: 42em) {
    right: 3%;
  }

  &:hover {
    fill: $color-accent-red;
    font-size: 4.4rem;
  }
}
